#masthead.stuck {  opacity: 0.98; }

.woocommerce-message { padding: 0; text-align: center; }

select, .select2-container .select2-choice { box-shadow: none }

.row { max-width: 75em; }

.payment_method_paypal .payment_box::before {
content: url(https://gitcdn.link/repo/manfuku/mfk/master/img/AM_SbyPP_mc_vs_ms_ae_UK.png);
}

/* PRODUCT PAGE 60/40 */
@media (min-width: 48em) {
.single-product .product-gallery { width: 60% }
.single-product .product-info { width: 40% }
}

/* HIDE STUFF */
.top-divider,
.product-small p.category,
.tx-div,
.product-page-aside,
.product-footer .woocommerce-tabs.tabbed-content 
{ display: none !important }

/* FOOTER */
.absolute-footer { padding: 1rem 0 }
.copyright-footer { color: #fff; opacity: 1 }
