@font-face {
font-family: 'Sans Guilt MB';
font-style: normal;
font-weight: 600;
src: local("?"),
url('https://gitcdn.link/repo/manfuku/mfk/master/webfonts/sansguiltmb/sansguiltmb-webfont.woff2') format('woff2')
}
